In [1]:
import pandas as pd
import regex
from pathlib import Path

### Load Data

In [2]:
"""
Get all Files and concatenate
"""
# Path to data files (might change)
parent_path = Path(".", "src", "movies", "movies").absolute()

files_path: list[Path] = []
for data_path in parent_path.iterdir():
    if regex.match(".+/film_info_part_\d.csv$", str(data_path)) != None:
        files_path.append(data_path)

# read all datafiles and concatenate in pandas
dfs = []
lengths = []
for file in files_path:
    df = pd.read_csv(file)
    lengths.append(len(df))
    dfs.append(df)

dataframe = pd.concat(dfs, ignore_index=True)
dataframe

,title,year,infobox,critics_count,critics_score,audience_count,audience_score,suppliers_list,rottentomatoes_year,rottentomatoes_genre,rottentomatoes_length
0,711 Ocean Drive,1950,"{'Directed by': ['Joseph M. Newman', '', ''], ...",3 Reviews,NaN,100+ Ratings,61.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",1950,Crime/Drama,1h 42m
1,Abbott and Costello in the Foreign Legion,1950,"{'Directed by': ['Charles Lamont', '', ''], 'W...",3 Reviews,NaN,500+ Ratings,59.0,NaN,1950,Comedy,1h 20m
2,Ambush,1950,"{'Directed by': ['Sam Wood', '', ''], 'Screenp...",3 Reviews,NaN,Fewer than 50 Ratings,62.0,NaN,1949,Western,1h 29m
3,Annie Get Your Gun,1950,"{'Directed by': [' ', ' ', 'George Sidney', 'B...",12 Reviews,100.0,"5,000+ Ratings",67.0,NaN,1950,Musical,1h 47m
4,The Asphalt Jungle,1950,"{'Directed by': ['John Huston', '', ''], 'Scre...",35 Reviews,97.0,"5,000+ Ratings",87.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",1950,Crime/Drama,1h 52m
...,...,...,...,...,...,...,...,...,...,...,...
12818,The Assassin,2015,"{'': ['Cìkè Niè Yǐnniáng', '', ''], 'Directed ...",128 Reviews,80.0,"5,000+ Ratings",48.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",2015,Action/Drama,1h 45m
12819,Go Away Mr. Tumor,2015,"{'Directed by': ['Han Yan', '', ''], 'Starring...",1 Reviews,NaN,250+ Ratings,80.0,"[('amazon-prime-video-us', 'Rent/buy'), ('itun...",2015,Comedy,1h 25m
12820,"Love, At First…",2015,"{'Directed by': ['Tao Hai', '', ''], 'Starring...",0 Reviews,NaN,0 Ratings,NaN,"[('itunes', 'Rent/buy')]",2015,Romance,1h 36m
12821,A Tale of Three Cities,2015,"{'Directed by': ['Mabel Cheung', '', ''], 'Wri...",7 Reviews,43.0,0 Ratings,NaN,NaN,2015,Drama/Foreign,2h 10m
12822,The Dead End,2015,"{'Directed by': ['Cao Baoping', '', ''], 'Scre...",0 Reviews,NaN,0 Ratings,NaN,NaN,2015,Crime/Drama,2h 19m

### Filter titles

In [3]:
# There shouldn't be any losses here
dataframe = dataframe.loc[~(dataframe["title"].isnull() | dataframe["title"].isna())]

In [4]:
dataframe.loc[12818]["infobox"]

"{'': ['Cìkè Niè Yǐnniáng', '', ''], 'Directed by': ['Hou Hsiao-hsien', '', ''], 'Written by': ['Hou Hsiao-hsien', 'Hsieh Hai-Meng', 'Chu T’ien-wen', 'Ah Cheng', '\\n \\n', ''], 'Produced by': ['Wen-Ying Huang', 'Liao Ching-Sung', '\\n \\n', ''], 'Starring': ['Shu Qi', 'Chang Chen', 'Zhou Yun', 'Satoshi Tsumabuki', '\\n \\n', ''], 'Cinematography': ['Mark Lee Ping Bin', '', ''], 'Edited by': ['Huang Chih-Chia', '', ''], 'Music by': ['Lim Giong', '', ''], 'Production companies': ['', ''], 'Distributed by': ['Well Go USA', 'StudioCanal', '\\n \\n', ''], 'Release dates': ['21\\xa0May\\xa02015', ' (', ')', '27\\xa0August\\xa02015', ' (China & Hong Kong)', '28\\xa0August\\xa02015', ' (Taiwan)', 'Cannes', '\\n \\n', ''], 'Running time': ['105 minutes', '', ''], 'Countries': ['Taiwan', 'China', 'Hong Kong', '\\n \\n', ''], 'Language': ['Mandarin', '', ''], 'Budget': ['90 million (', '14.9 million)', 'CN¥', 'US$', '', ''], 'Box office': [' (China)', ' (worldwide)', '\\n \\n', '']}"

### Filter years

In [5]:
"""
There might occur some differences between the Release Date on Wikipedia and Rotten Tomatoes possibly indicating a different movie alltogether
We're gonna simply remove the ones having a difference bigger than 1 year
"""
_filter = abs(dataframe["year"] - dataframe["rottentomatoes_year"]) > 1
different_movies = dataframe.loc[_filter]

print(f"removed {len(different_movies)} titles")
dataframe = dataframe.loc[~_filter]
dataframe

removed 1460 titles

,title,year,infobox,critics_count,critics_score,audience_count,audience_score,suppliers_list,rottentomatoes_year,rottentomatoes_genre,rottentomatoes_length
0,711 Ocean Drive,1950,"{'Directed by': ['Joseph M. Newman', '', ''], ...",3 Reviews,NaN,100+ Ratings,61.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",1950,Crime/Drama,1h 42m
1,Abbott and Costello in the Foreign Legion,1950,"{'Directed by': ['Charles Lamont', '', ''], 'W...",3 Reviews,NaN,500+ Ratings,59.0,NaN,1950,Comedy,1h 20m
2,Ambush,1950,"{'Directed by': ['Sam Wood', '', ''], 'Screenp...",3 Reviews,NaN,Fewer than 50 Ratings,62.0,NaN,1949,Western,1h 29m
3,Annie Get Your Gun,1950,"{'Directed by': [' ', ' ', 'George Sidney', 'B...",12 Reviews,100.0,"5,000+ Ratings",67.0,NaN,1950,Musical,1h 47m
4,The Asphalt Jungle,1950,"{'Directed by': ['John Huston', '', ''], 'Scre...",35 Reviews,97.0,"5,000+ Ratings",87.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",1950,Crime/Drama,1h 52m
...,...,...,...,...,...,...,...,...,...,...,...
12818,The Assassin,2015,"{'': ['Cìkè Niè Yǐnniáng', '', ''], 'Directed ...",128 Reviews,80.0,"5,000+ Ratings",48.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",2015,Action/Drama,1h 45m
12819,Go Away Mr. Tumor,2015,"{'Directed by': ['Han Yan', '', ''], 'Starring...",1 Reviews,NaN,250+ Ratings,80.0,"[('amazon-prime-video-us', 'Rent/buy'), ('itun...",2015,Comedy,1h 25m
12820,"Love, At First…",2015,"{'Directed by': ['Tao Hai', '', ''], 'Starring...",0 Reviews,NaN,0 Ratings,NaN,"[('itunes', 'Rent/buy')]",2015,Romance,1h 36m
12821,A Tale of Three Cities,2015,"{'Directed by': ['Mabel Cheung', '', ''], 'Wri...",7 Reviews,43.0,0 Ratings,NaN,NaN,2015,Drama/Foreign,2h 10m
12822,The Dead End,2015,"{'Directed by': ['Cao Baoping', '', ''], 'Scre...",0 Reviews,NaN,0 Ratings,NaN,NaN,2015,Crime/Drama,2h 19m

### Filter length

In [6]:
"""
We might want to include the runtime and convert it into minutes only 
"""

_pattern = regex.compile("^(\d+)h (\d+)m$")
def movie_runtime_transformer(x):
    match = _pattern.match(x.strip())
    # convert into minutes only
    ret_val = None
    if match:
        ret_val = int(match.group(1))*60 + int(match.group(2))
    return ret_val

# replace original length
dataframe["rottentomatoes_length"] = dataframe["rottentomatoes_length"].transform(movie_runtime_transformer)

### Filter Review counts

In [7]:
_pattern = regex.compile("^\D*(\d+).*$")
def review_count_transformer(x: str):
    x = x.replace(",", "")  # integer are divided by ',' for every 3 digits
    match = _pattern.match(x.strip())
    # convert into number of reviews only
    ret_val = 0
    
    if match:
        ret_val = int(match.group(1))
    return ret_val

# replace original counts
dataframe["audience_count"] = dataframe["audience_count"].transform(review_count_transformer)
dataframe["critics_count"] = dataframe["critics_count"].transform(review_count_transformer)
dataframe

,title,year,infobox,critics_count,critics_score,audience_count,audience_score,suppliers_list,rottentomatoes_year,rottentomatoes_genre,rottentomatoes_length
0,711 Ocean Drive,1950,"{'Directed by': ['Joseph M. Newman', '', ''], ...",3,NaN,100,61.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",1950,Crime/Drama,102.0
1,Abbott and Costello in the Foreign Legion,1950,"{'Directed by': ['Charles Lamont', '', ''], 'W...",3,NaN,500,59.0,NaN,1950,Comedy,80.0
2,Ambush,1950,"{'Directed by': ['Sam Wood', '', ''], 'Screenp...",3,NaN,50,62.0,NaN,1949,Western,89.0
3,Annie Get Your Gun,1950,"{'Directed by': [' ', ' ', 'George Sidney', 'B...",12,100.0,5000,67.0,NaN,1950,Musical,107.0
4,The Asphalt Jungle,1950,"{'Directed by': ['John Huston', '', ''], 'Scre...",35,97.0,5000,87.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",1950,Crime/Drama,112.0
...,...,...,...,...,...,...,...,...,...,...,...
12818,The Assassin,2015,"{'': ['Cìkè Niè Yǐnniáng', '', ''], 'Directed ...",128,80.0,5000,48.0,"[('vudu', 'Rent/buy'), ('amazon-prime-video-us...",2015,Action/Drama,105.0
12819,Go Away Mr. Tumor,2015,"{'Directed by': ['Han Yan', '', ''], 'Starring...",1,NaN,250,80.0,"[('amazon-prime-video-us', 'Rent/buy'), ('itun...",2015,Comedy,85.0
12820,"Love, At First…",2015,"{'Directed by': ['Tao Hai', '', ''], 'Starring...",0,NaN,0,NaN,"[('itunes', 'Rent/buy')]",2015,Romance,96.0
12821,A Tale of Three Cities,2015,"{'Directed by': ['Mabel Cheung', '', ''], 'Wri...",7,43.0,0,NaN,NaN,2015,Drama/Foreign,130.0
12822,The Dead End,2015,"{'Directed by': ['Cao Baoping', '', ''], 'Scre...",0,NaN,0,NaN,NaN,2015,Crime/Drama,139.0

### Filter Infobox

In [8]:
"""
We want to preserve as much information as possible
The most important ones are budget, box office and release date (with month) which will have to be included
"""
import json

# Create pattern that ONLY changes " to ' when not needed for Names/language e.g.: "Edmond O'Brian"
_quote_mark_pattern = regex.compile("([A-Za-z][A-Za-z\s]+\"[A-Za-z]+)(?=[^\"]*\".*)")
_release_pattern = regex.compile(r"(\\xa0(?=\d+)(\d+))") # double enclosure group, potentially leading 0 
_structured_number_pattern = regex.compile('(?<=\".?)((\d+,?)+)(?=\")') # commas within natural numbers
_too_many_quotes_pattern = regex.compile('(\"{3,})')    # if 3 or more behind each other

def to_dict_transformer(x: str) -> dict | None:
    x = x.replace("'", "\"")    # needed for json
    # revert wanted '
    for p in _quote_mark_pattern.findall(x):
        x = x.replace(p, p.replace("\"", "'"))

    # replace broken numbers with correct ones
    # for broken, nums in _release_pattern.findall(x):
    #     x = x.replace(broken, f" {int(nums)}") 
    x = x.replace("\\xa0", " ")
    
    for broken, _ in _structured_number_pattern.findall(x):
        x = x.replace(broken, broken.replace(",", ""))

    for p in _too_many_quotes_pattern.findall(x):
        x = x.replace(p, '""')

    try:
        ret_val: dict = json.loads(x)
    except:
        ret_val = None  # most errors should now be fixed anyway
    return ret_val

# _str = 'ributed by": ["Loew"s, Inc.", "", ""], "Release date": ["J'
# print(_quote_mark_pattern.findall(_str))

"""
We can't use dataframe.transform here since then all the " and ' replacements are just reversed by panda
-> create new tags for each category at once
"""
dicts: list[dict[str, str] | None] = []
for dict_str in dataframe["infobox"]:
    dicts.append(to_dict_transformer(dict_str))


# Pattern that recognizes plural (s at end, not ies) and removes it
# words shorter than 3 letters are not plurals
_plural_pattern = regex.compile("(?<!i)(?<=[A-za-z]{3,})s(?=_?)(?![A-za-z])")

synonyms_dict = {}
local_path = Path(".", "src", "movies", "filter").absolute()
with open(Path(local_path, "synonyms.json")) as syns:
    synonyms_list: list[dict] = json.load(syns)
    # pack into one dict
    for _dic in synonyms_list:
        for _key, _list in _dic.items():
            synonyms_dict[_key] = _list

# create reverse lookup table
reverse_synonym_dict = {item: _key for _key, _list in synonyms_dict.items() for item in _list}

def replace_synonyms(in_str: str) -> str:
    base_synonym = reverse_synonym_dict.get(in_str)
    return base_synonym if base_synonym else in_str

def normalize_keys(in_str: str) -> str:
    # basic compression
    in_str = in_str.lower().strip().replace(" ", "_")
    # somtimes numbers are somehow included which we're gonna remove to get a smaller set
    # we're also gonna remove enclosing brackets around a letter
    in_str = regex.sub("\d|\(|\)", "", in_str)
    # some tags are given are in plural some in singular. We're gonna reduce that to always singular by 
    # simply assuming that only plurals end with 's'ArithmeticError
    in_str = regex.sub("ies", "y", in_str)
    # apply regex based plural filter
    in_str = _plural_pattern.sub("", in_str)

    return in_str

category_counter: dict[str, int] = dict()
# normalize categories
for dic in dicts:
    if dic != None:
        key_copy = set(dic.keys())
        for c_key in key_copy:
            normalized_key = normalize_keys(c_key)
            
            # replace synonyms
            normalized_key = replace_synonyms(normalized_key)

            dic[normalized_key] = dic.pop(c_key)

            # add new entry or increase counter
            if category_counter.get(normalized_key):
                category_counter[normalized_key] += 1
            else:
                category_counter[normalized_key] = 1

print(category_counter)

{'produced_by': 10374, 'running_time': 10696, 'directed_by': 11017, 'box_office': 6745, 'edited_by': 9999, 'cinematography': 10164, 'production_company': 7861, 'written_by': 8525, 'release_date': 10855, 'budget': 5260, 'distributed_by': 9799, 'starring': 10776, 'language': 10752, 'music_by': 9935, 'color_proces': 390, 'country': 10686, 'narrated_by': 282, 'screenplay_by': 3772, 'based_on': 3528, '': 1377, 'released': 709, 'animation_by': 9, 'author': 32, 'recorded': 287, 'published_by': 38, 'text': 1, 'published': 7, 'illustrated_by': 5, 'original_title': 14, 'length': 509, 'dialogue_by': 13, 'original_air_date': 1, 'production_code': 2, 'episode': 4, 'place_premiered': 8, 'genre': 113, 'date_premiered': 9, 'original_language': 138, 'page': 18, 'publication_date': 28, 'literally': 86, 'country_of_origin': 131, 'created_by': 6, 'of_episode': 6, 'of_season': 2, 'original_network': 116, 'original_release': 134, 'picture_format': 54, 'audio_format': 45, 'related': 3, 'executive_producer': 70, 'subject': 2, 'preceded_by': 22, 'followed_by': 22, 'cover_artist': 4, 'media_type': 17, 'launch_date': 1, 'end_date': 1, 'main_character': 1, 'format': 1, 'of_issue': 1, 'artist': 1, 'schedule': 1, 'backgrounds_by': 4, 'adapted_by': 13, 'character': 3, 'setting': 6, 'composer': 12, 'original_screenplay_by': 1, 'sery': 3, 'studio': 44, 'additional_story_material_by': 1, 'additional_dialogue_by': 2, 'compiler': 3, 'italian': 2, 'theme_music_composer': 39, 'additional_material_by': 1, 'runtime': 9, 'licensed_by': 9, 'production_location': 38, 'also_known_a': 3, 'spanish': 96, 'serbo-croatian': 1, 'camera_setup': 4, 'narration_by': 1, 'literal_meaning': 4, 'layouts_by': 2, 'screen_story_by': 2, 'award': 1, 'russian': 2, 'imprint': 4, 'english_publisher': 6, 'demographic': 9, 'volume': 9, 'original_run': 9, 'magazine': 9, 'city': 1, 'venue': 6, 'date': 1, 'translator': 4, 'audio_read_by': 1, 'first_broadcast': 1, 'script_editor': 1, 'music': 1, 'lyric': 1, 'production': 1, 'basis': 1, 'published_in_english': 4, 'english': 1, 'segment_producer': 1, 'catalan': 2, 'mode': 1, 'english_network': 1}

In [9]:
test = "'Release dates': ['21\\xa0May\\xa02015', ' (', ')', '27\\xa0August\\xa02015', ' (China & Hong Kong)', '28\\xa0August\\xa02015', ' (Taiwan)', 'Cannes', '\\n "
_release_pattern.findall(test)

[('\\xa02015', '2015'), ('\\xa02015', '2015'), ('\\xa02015', '2015')]

In [10]:
dataframe["infobox"]

0        {'Directed by': ['Joseph M. Newman', '', ''], ...
1        {'Directed by': ['Charles Lamont', '', ''], 'W...
2        {'Directed by': ['Sam Wood', '', ''], 'Screenp...
3        {'Directed by': [' ', ' ', 'George Sidney', 'B...
4        {'Directed by': ['John Huston', '', ''], 'Scre...
                               ...
12818    {'': ['Cìkè Niè Yǐnniáng', '', ''], 'Directed ...
12819    {'Directed by': ['Han Yan', '', ''], 'Starring...
12820    {'Directed by': ['Tao Hai', '', ''], 'Starring...
12821    {'Directed by': ['Mabel Cheung', '', ''], 'Wri...
12822    {'Directed by': ['Cao Baoping', '', ''], 'Scre...
Name: infobox, Length: 11363, dtype: object

### Convert Info Box into new Tags

In [11]:
"""
Split dictionary into single data types for easier referencing
"""
# how much percent of the tag with the most occurences another tag MUST have to be included in the dataset
INCLUSION_MARGIN = 1/3
MAX_COUNT = max(category_counter.values())
LOWER_BOUNDARY = int(INCLUSION_MARGIN * MAX_COUNT)

assert(len(dicts) == len(dataframe))

valid_tags: list[tuple[str, int]] = list(filter(lambda _tag_val_tup: _tag_val_tup[1] >= LOWER_BOUNDARY, category_counter.items()))
new_col_dict: dict[str, list] = {_key: [] for _key, _ in valid_tags}

for dic in dicts:
    for tag, _ in valid_tags:
        if dic: # could be None if not readable
            # get all rows with this tag and add as column to dataframe
            item: str | None = dic.get(tag)
            new_col_dict[tag].append(item)
        else:
            new_col_dict[tag].append(None)

# check for any lost items
for _tag, _list in new_col_dict.items():
    assert(len(_list) == len(dataframe))

# add columns to dataframe
existing_keys = list(dataframe.keys())
for _tag, _list in new_col_dict.items():
    # prevent overwriting
    if _tag in existing_keys:
        _tag += "_info"
    dataframe[_tag] = _list

In [12]:
dataframe.keys()

Index(['title', 'year', 'infobox', 'critics_count', 'critics_score',
       'audience_count', 'audience_score', 'suppliers_list',
       'rottentomatoes_year', 'rottentomatoes_genre', 'rottentomatoes_length',
       'produced_by', 'running_time', 'directed_by', 'box_office', 'edited_by',
       'cinematography', 'production_company', 'written_by', 'release_date',
       'budget', 'distributed_by', 'starring', 'language', 'music_by',
       'country', 'screenplay_by'],
      dtype='object')

### Reduce Lists within entries

In [13]:
dataframe.loc[0]

title                                                      711 Ocean Drive
year                                                                  1950
infobox                  {'Directed by': ['Joseph M. Newman', '', ''], ...
critics_count                                                            3
critics_score                                                          NaN
audience_count                                                         100
audience_score                                                        61.0
suppliers_list           [('vudu', 'Rent/buy'), ('amazon-prime-video-us...
rottentomatoes_year                                                   1950
rottentomatoes_genre                                           Crime/Drama
rottentomatoes_length                                                102.0
produced_by                                         [Frank N. Seltzer, , ]
running_time                                             [102 minutes, , ]
directed_by                                         [Joseph M. Newman, , ]
box_office                                                  [$1550000, , ]
edited_by                                                [Bert Jordan, , ]
cinematography                                          [Franz Planer, , ]
production_company                           [Frank Seltzer Productions, ]
written_by                            [Richard English, Francis Swann, , ]
release_date                     [July 1, 1950,  (United States), \n \n, ]
budget                                                       [$300000, , ]
distributed_by                                     [Columbia Pictures, , ]
starring                     [Edmond O'Brien, Joanne Dru, Otto Kruger, , ]
language                                                     [English, , ]
music_by                                                  [Sol Kaplan, , ]
country                                                [United States, , ]
screenplay_by                                                         None
Name: 0, dtype: object

In [14]:
"""
Due to the data collection process, the infobox contains many empty elements
These need to be reduced and ideally into one element only
"""
def reduce_list(lis: list[str] | None) -> list:
    if lis:
        reduced_list = []
        for item in lis:
            item = item.replace("\n", "").strip().lower()
            if item:
                reduced_list.append(item)
        return reduced_list
    else:
        return None

# transform data
for _tag in new_col_dict.keys():
    dataframe[_tag] = dataframe[_tag].transform(reduce_list)
    # print(dataframe[_tag].transform(reduce_list))

### Convert Release dates

In [15]:
dataframe["release_date"]

0                          [july 1, 1950, (united states)]
1                                          [july 24, 1950]
2                                       [january 13, 1950]
3                                          [july 17, 1950]
4                          [may 12, 1950, (united states)]
                               ...
12818    [21 may 2015, (, ), 27 august 2015, (china & h...
12819                                    [august 13, 2015]
12820                                     [august 7, 2015]
12821    [27 august 2015, (china), 3 september 2015, (h...
12822    [june 15, 2015, (, ), august 27, 2015, (china)...
Name: release_date, Length: 11363, dtype: object

In [16]:
"""
There are some different variants for writing the date unfortunately so we will use regex to extrapolate month day and year and bring it into the following format:
<yyyy>-<mm>-<dd>
furthermore, there are different release dates. We're only gonna look at the oldest release (which came first)
"""
from dateutil.parser import *

# test = dataframe["release_date"][12818]
# print(str(parse(test[0]).date()))
# print(parse(test[0]) < parse("21.05.2016"))

def get_first_date(dates: list[str] | None) -> str | None:
    if dates:
        parsed_dates = []
        for line in dates:
            try:
                _date = parse(line)
                parsed_dates.append(_date)
            except:
                # unrecognizable date or simply something different (e.g. countries)
                continue
        # get oldest date as str
        return str(min(parsed_dates).date()) if parsed_dates else None
    return None

dataframe["release_date"] = dataframe["release_date"].transform(get_first_date)

In [17]:
# amount of valid dates
len(dataframe["release_date"].loc[~dataframe["release_date"].isnull()])

10557

### Box Office/Budget Filter

In [18]:
cols = [k for k in new_col_dict.keys()]
dataframe[cols]

,produced_by,running_time,directed_by,box_office,edited_by,cinematography,production_company,written_by,release_date,budget,distributed_by,starring,language,music_by,country,screenplay_by
0,[frank n. seltzer],[102 minutes],[joseph m. newman],[$1550000],[bert jordan],[franz planer],[frank seltzer productions],"[richard english, francis swann]",1950-07-01,[$300000],[columbia pictures],"[edmond o'brien, joanne dru, otto kruger]",[english],[sol kaplan],[united states],None
1,[robert arthur],[80 minutes],[charles lamont],[$1250000],[frank gross],[george robinson],[universal-international],"[john grant, martin ragaway, leonard stern]",1950-07-24,[$679687],[universal-international],"[bud abbott, lou costello, patricia medina, wa...",[english],None,[united states],None
2,"[, sam wood, armand deutsch]",[89 minutes],[sam wood],[$3215000],[ben lewis],[harold lipstein],[metro-goldwyn-mayer],None,1950-01-13,[$1754000],[metro-goldwyn-mayer],"[robert taylor, john hodiak, arlene dahl]",[english],[rudolph g. kopp],[united states],[marguerite roberts]
3,"[arthur freed, roger edens]",[107 minutes],"[george sidney, busby berkeley, charles walters]",[$7756000],[james e. newcom],[charles rosher],[metro-goldwyn-mayer],None,1950-07-17,[$3734000],"[loew's, inc.]","[betty hutton, howard keel, louis calhern, kee...",[english],"[songs: (lyrics and music by), music direction...",[united states],[sidney sheldon]
4,[arthur hornblow jr.],[112 minutes],[john huston],None,[george boemler],[harold rosson],[metro-goldwyn-mayer],None,1950-05-12,[$1232000],[loew's inc.],"[sterling hayden, louis calhern, jean hagen]",[english],[miklós rózsa],[united states],"[john huston, ben maddow]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12818,"[wen-ying huang, liao ching-sung]",[105 minutes],[hou hsiao-hsien],"[(china), (worldwide)]",[huang chih-chia],[mark lee ping bin],[],"[hou hsiao-hsien, hsieh hai-meng, chu t’ien-we...",2015-05-21,"[90 million (, 14.9 million), cn¥, us$]","[well go usa, studiocanal]","[shu qi, chang chen, zhou yun, satoshi tsumabuki]",[mandarin],[lim giong],"[taiwan, china, hong kong]",None
12819,None,[128 minutes],[han yan],[us$80.12 million],None,None,[wanda pictures],None,2015-08-13,None,[china lion (u.s.)],"[bai baihe, daniel wu]",[mandarin],None,[china],None
12820,None,[98 minutes],[tao hai],[],None,None,[shanghai jinse tianxia entertainment beijing ...,None,2015-08-07,None,"[china film, eastern mordor, tianjing yinhe me...","[juck zhang, xiaofeng li, yao zhang, jingjing ...",[mandarin],None,[china],None
12821,None,[130 minutes],[mabel cheung],None,None,None,None,"[mabel cheung, alex law]",2015-08-27,None,None,"[huang jue, li jianyi, sean lau, tang wei, qin...",[mandarin],None,"[china, hong kong]",None
12822,"[ye jinjun, cao baoping]","[137 minutes, 227 minutes (director's cut)]",[cao baoping],[us$46.75 million],"[cao baoping, li yongyi]",[luo pan],[dream sky film beijing standard image c...,None,2015-06-15,None,None,"[deng chao, duan yihong, guo tao, wang luodan]",[mandarin],[bai shui],[china],"[cao baoping, mia jiao]"

In [69]:
"""
First we need to convert all written text into a natural number (e.g. 46.75 million = 46750000)
After that, the really difficult part starts by accounting for inflation and different currencies
"""

inflation_table = pd.read_csv(Path(local_path, "inflation_rate_usa.csv"), dtype=float)
inflation_table["Year"] = inflation_table["Year"].transform(lambda x: int(x))
FIRST_YEAR = 1913
LAST_YEAR = 2022
MONTH_MAPPING = {
    1: "Jan",
    2: "Feb",
    3: "Mar",
    4: "Apr",
    5: "May",
    6: "June",
    7: "July",
    8: "Aug",
    9: "Sep",
   10: "Oct",
   11: "Nov",
   12: "Dec",
}

"""
Inflation Table contains CPI in Columns Jan-Dec and Avg, Dec-Dec and Avg-Avg is already given in percent
"""

def inflation_calculator(value: float, from_year: int, to_year: int, from_month: int = None, to_month: int = None) -> float:
    """
    Calculate Inflation per year or even per month if <from_month> and <to_month> are specified
    Inflation can be efficiently calculated with CPI money*(<to_cpi> / <from_cpi>)
    Rounded to 2 decimals
    """
    if from_year < FIRST_YEAR or to_year > LAST_YEAR:
        if to_year < FIRST_YEAR or from_year > LAST_YEAR:
            raise ValueError("years are out of range of dataset")
    if from_month:
        if from_month < 1 or from_month > 12:
            raise ValueError("from months are out of range")
    if to_month:
        if to_month < 1 or to_month > 12:
            raise ValueError("to months are out of range")

    _from_table = inflation_table.loc[from_year-FIRST_YEAR]
    _to_table = inflation_table.loc[to_year-FIRST_YEAR]

    _from_pci: float = _from_table[MONTH_MAPPING[from_month]] if from_month else _from_table["Avg"]
    _to_pci: float = _to_table[MONTH_MAPPING[to_month]] if to_month else _to_table["Avg"]

    return round(value * (_to_pci / _from_pci), 2)


# inflation_calculator(1.0, 1913, 1917, 1, 12)

1.4

In [70]:
inflation_table

,Year,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,Avg,Dec-Dec,Avg-Avg
0,1913,9.800,9.800,9.800,9.800,9.700,9.800,9.900,9.900,10.000,10.000,10.100,10.000,9.900,0.0,0.0
1,1914,10.000,9.900,9.900,9.800,9.900,9.900,10.000,10.200,10.200,10.100,10.200,10.100,10.000,1.0,1.0
2,1915,10.100,10.000,9.900,10.000,10.100,10.100,10.100,10.100,10.100,10.200,10.300,10.300,10.100,2.0,1.0
3,1916,10.400,10.400,10.500,10.600,10.700,10.800,10.800,10.900,11.100,11.300,11.500,11.600,10.900,12.6,7.9
4,1917,11.700,12.000,12.000,12.600,12.800,13.000,12.800,13.000,13.300,13.500,13.500,13.700,12.800,18.1,17.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.107,1.9,2.4
106,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,255.657,2.3,1.8
107,2020,257.971,258.678,258.115,256.389,256.394,257.797,259.101,259.918,260.280,260.388,260.229,260.474,258.811,1.4,1.2
108,2021,261.582,263.014,264.877,267.054,269.195,271.696,273.003,273.567,274.310,276.589,277.948,278.802,270.970,7.0,4.7
109,2022,281.148,283.716,287.504,289.109,292.296,296.311,296.276,296.171,296.808,298.012,297.711,296.797,292.655,6.5,8.0